:root {
  --green-600: #7d7235; /* Olive */
  --yellow-400: #cabe64; /* Citron */
  --green-500: #8cad45; /* Apple Green */
  --green-700: #557622; /* Avocado */
  --gray-100: #f4f3e4; /* Ivory */
  --green-900: #38540f; /* Dark Moss */
  --green-800: #283b08; /* Pakistan Green */
  --brown-600: #544a19; /* Field */
  --tan-100: #e1ddaa; /* Light Tan */
  --red-600: #bf4216; /* Rust Red */
  --brown-700: #3f300e; /* Dark Brown */
  --yellow-500: #c5b316; /* Golden Yellow */
}
