#DevWindow {
    position: absolute;
    inset: 0;
    background-color: var(--green-900);
  }
  #scene-data {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
.scene-details {
    background-color: var(--brown-600);
    border-radius: .5rem;
    border: 2px solid var(--brown-700);
}